
* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 35%;
    grid-template-rows: 50vw;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2042508-jpeg.jpg")
}
.left {
    background-color: #c4e0ed;
}
.right {
    background-color: #f4f3f3;
}
h1, h2 {
    text-align: center;
    font-weight: normal;
}
h2 {
    font-weight: 100;
}
h4 {
    font-weight: normal;
    margin: 0;
    padding: 20px 0 10px 0;
    color: #434443;
    font-weight: 100;
}
#distance {
    padding-top: 0;
}
ul {
    list-style: none;
    display: inline-flex;
    margin: 10px 30px;
    padding: 0;
}
li {
    display: inline;
}
.fa-envelope, .fa-phone-alt, .fa-map-marker-alt {
    color: #f8b7d8;
    font-size: 25px;
}
.address, .phone, .email {
    text-align: center;
    margin: 0 20px;
}
form {
    background-color: white;
    margin: 0 50px;
    box-shadow: 0 0 5px #e9e8e8;
}
input {
    width: 90%;
    padding: 10px;
    margin: 15px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
}
textarea {
    width: 90%;
    padding: 10px;
    margin: 0 15px 15px 15px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
}
::placeholder {
    color: #757575;
    font-size: 15px;
}
button {
    background-color: #9ed8eb;
    color: white;
    font-size: 18px;
    border: none;
    width: 60%;
    padding: 8px;
    border-radius: 40px;
    position: relative;
    right: -18%;
    top: -2%;
}