@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
* {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2042508-jpeg.jpg");
    overflow-y: hidden;
}
.grid-container {
    display: grid;
    width: 100vw;
    height: 78%;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 10%;
    grid-template-columns: 1fr 270px 560px 1fr;
}
.left {
    grid-column: 2/3;
    background-color: #c4e0ed;
    position: relative;
    overflow: hidden;
}
.contact-us {
    position: absolute;
    transform: rotate(-90deg);
    top: 60px;
    left: 20px;
}
.contact-us::before {
     position: absolute;
     content: "";
     bottom: -25px;
     left: -570px;
     height: 250px;
     width: 400px;
     background: #F8B7D8;
     transform: rotate(25deg);
}
.contact-us::after {
    position: absolute;
    content: "";
    bottom: -220px;
    right: 370px;
    height: 370px;
    width: 250px;
    background: #9ED8EB;
    transform: rotate(-28deg);
}
#font-for-contact-us {
    color: white;
    font-size: 25px;
}
#font-for-contact-us:before {
    position: absolute;
    content: "";
    background: white;
    height: 100px;
    width: 2px;
    transform: rotate(90deg);
    top: -15px;
    left: -55px;
}
.fab {
    font-size: 20px;
    margin: 5px;
    color: #ffffff;
}
.social-media-bar {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 18px;
    left: 70px;
    z-index: 1;
}
.right {
    grid-column: 3/4;
    background-color: #f4f3f3;
}
h1, h2 {
    text-align: center;
    font-weight: normal;
    color: #434443;
}
h1 {
    margin: 20px auto 10px auto;
}
h2 {
    margin-bottom: 50px;
    font-weight: 100;
}
h4 {
    font-weight: normal;
    margin: 0;
    padding: 20px 0 10px 0;
    color: #434443;
    font-weight: 100;
}
#distance {
    padding-top: 0;
}
ul {
    list-style: none;
    display: inline-flex;
    margin: 0 20px;
    padding: 0;
}
li {
    display: inline;
}
.fa-envelope, .fa-phone-alt, .fa-map-marker-alt {
    color: #f8b7d8;
    font-size: 28px;
}
.address, .phone, .email {
    text-align: center;
    margin: 0 35px;
}
.white {
    margin-top: 20px;
}
form {
    position: relative;
    background-color: white;
    margin: 0 50px;
    box-shadow: 0 0 5px #e9e8e8;
}
input {
    width: 90%;
    padding: 10px;
    margin: 15px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
}
textarea {
    width: 90%;
    padding: 10px;
    margin: 0 15px 30px 15px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    resize: none;
}
input:focus, textarea:focus {
    outline: none;
}
::placeholder {
    color: #757575;
    font-size: 15px;
}
.button {
    text-align: center;
    position: absolute;
    display: block;
    right: 25%;
    bottom: -8%;
    background-color: #9ed8eb;
    color: white;
    font-size: 18px;
    border: none;
    width: 250px;
    padding: 10px;
    border-radius: 40px;
}
